<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated recorder -->
      <package
            uri="http://edu.mcm.cas703.project"
            class="recorder.RecorderPackage"
            genModel="model/recorder.genmodel"/>
   </extension>

</plugin>
